{% extends "base.html.twig" %}
{% block title %}Recherche
{% endblock %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-primary">Rechercher</button>
			{{ form_end(form) }}
		</div>
	</div>
	{% for competences in competences %}
		<div class="contact" >
			<table class="table">
				<tbody>
					<tr>
						<th>specialite</th>
						<td>{{ competences.specialite }}</td>
					</tr>
					<tr>
						<th>niveau</th>
						<td>{{ competences.niveau }}</td>
					</tr>
					<tr>
						<th>description</th>
						<td>{{ competences.description }}</td>
					</tr>
					<tr>
						<th>secteur</th>
						<td>{{ competences.secteur }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endblock %}
