{% extends "base.html.twig" %}
{% block title %}Profil de
	{{app.user.nom}}
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="col-md-4">
			<table class="table">
				<tbody>
					<tr>
						<th>nom</th>
						<td>{{ app.user.nom }}</td>
					</tr>
					<tr>
						<th>prenom</th>
						<td>{{ app.user.prenom }}</td>
					</tr>
					<tr>
						<th>adresse</th>
						<td>{{ app.user.adresse }}</td>
					</tr>
					<tr>
						<th>Telephone</th>
						<td>{{ app.user.telephone }}</td>
					</tr>
				</tbody>
			</table>
			<a href="{{path('app_edit')}}" class="btn btn-primary">Editer profil</a>
		</div>
		<div class="col-md-4">
			{% for competences in app.user.profil %}
				<table class="table">
					<tbody>
						<tr>
							<th>specialite</th>
							<td>{{ competences.specialite }}</td>
						</tr>
						<tr>
							<th>niveau</th>
							<td>{{ competences.niveau }}</td>
						</tr>
						<tr>
							<th>description</th>
							<td>{{ competences.description }}</td>
						</tr>
						<tr>
							<th>secteur</th>
							<td>{{ competences.secteur }}</td>
						</tr>
					</tbody>
				</table>
				<a href="{{path('app_edit')}}" class="btn btn-primary">Modifier competences</a>
			</div>
		{% else %}
			<br>
			<a href="{{path('competences_new') }}" class="btn btn-primary">
				Creer competences</a>
		{% endfor %}
	</div>

{% endblock %}
