{% extends 'base.html.twig' %}

{% block title %}Hare mate{% endblock %}

{% block body %}
	<div class="container">
        <div class="row flex">
            {% for utilisateur in utilisateurs %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <a href="{{path('#')}}">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                {{utilisateurs.nom}}
                                {{utilisateurs.prenom}}
                                {{utilisateurs.adresse}}
                                {{utilisateur.profil}}
                                </h5>
                                <p class="card-text"> </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}