{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ demande.tarif }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ demande.date ? demande.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('demande_index') }}">Retouner</a>

    <a href="{{ path('demande_edit', {'id': demande.id}) }}">Editer</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
